<h2>Workout Details</h2>
<form [formGroup]="editForm" (ngSubmit)="onSubmit(editForm.value)">

  <div>
    <label for="sets">
      Sets :
    </label>
    <mat-form-field>
      <input matInput id="sets" type="text" formControlName="sets">
    </mat-form-field>
  </div>
  <div>
    <label for="reps">
      Reps :
    </label>
    <mat-form-field>
      <input matInput id="reps" type="text" formControlName="reps">
    </mat-form-field>
  </div>
  <div>
    <label for="weight">
      Weight :
    </label>
    <mat-form-field>
      <input matInput id="weight" type="text" formControlName="weight">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Select Category</mat-label>
      <mat-select name="exerciseType" placeholder="Select category" (selectionChange)="onTypesChanged($event)">
        <mat-option  *ngFor="let exerciseType of exerciseTypes" [value]="exerciseType">{{exerciseType}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Select Exercise</mat-label>
      <mat-select placeholder="Select exercise" formControlName="exercise">
        <mat-option *ngFor="let exercise of exercises" [value]="exercise">{{exercise.exerciseName}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <button mat-button type="submit">Save</button>

</form>
